@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 400px;
        margin: 10px;
    }

    .form__container {
        flex-direction: column;
    }

    .form__input {
        width: 100%;
        margin-bottom: 10px;
    }

    .list__container {
        flex-direction: column;
    }

    .list__select {
        width: 100%;
        margin-bottom: 10px;
    }
}