/*Обнулення стилів для більшості основних тегів. Це дозволить уникнути дефолтних стилів при розширенні проекту*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html, body {
    height: 100%;
}

html {
    font-size: 14px;
}

button, input, textarea, select, a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    background-color: inherit;
    overflow: auto;
}

body {
    line-height: 1;

}

/* Стилі основних контейнерів*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh; */


}

.container {
    background-color: #fff;
    padding: 30px;
    margin: 0 auto;
    min-width: 500px;
    max-width: 700px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/*Спільні стилі для елементів різних блоків*/
h1 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}

button {
    padding: 5px 20px;
    min-width: 150px;
    font-weight: 700;
    color: white;
    background-color: #2e93ef;
    border: 1px solid #1877F2;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #1877F2;
}

/* Стилі форми */
.form {
    margin-bottom: 20px;
}

.form__container {
    display: flex;
    justify-content: space-between;
}

.form__input {
    width: 60%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}


/* Стилі списку */
.list__container {
    display: flex;
    justify-content: space-between;
}

.list__select {
    width: 60%;
    height: 120px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.list__controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list__button--delete {
    background-color: #d9534f;
    border: 1px solid #b52a2a;
}

.list__button--delete:hover {
    background-color: #b52a2a;
}


/* Адаптивність */
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

;
    .container {
        min-width: 300px;
        max-width: 500px;
        margin: 10px;
    }

    .form__container {
        flex-direction: column;
    }

    .form__input {
        width: 100%;
        margin-bottom: 10px;
    }

    .list__container {
        flex-direction: column;
    }

    .list__select {
        width: 100%;
        margin-bottom: 10px;
    }
}