/*Обнулення стилів для більшості основних тегів*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html, body {
    height: 100%;
}

html {
    font-size: 14px;
}

button, input, textarea, select, a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    background-color: inherit;
}

body {
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/*Основні стилі*/

/*Переприсвоєння сімейства шрифтів для всіх тегів проекту*/
body {
    font-family: Roboto, sans-serif;
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.form {
    display: flex;
    justify-content: space-between;
}

.form__container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    padding: 5px 10px;
    font-weight: 700;
    color: white;
    background-color: #2e93ef;
    border: 1px solid #1877F2;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.list {
    display: flex;
}

.list__controls {
    display: flex;
    flex-direction: column;

}

select {
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
